
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- ico -->
    <link rel="icon" href="/favicon.ico">

    <title>{% block title %}{% endblock %} | {{ jamla['company']['name'] }}</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- app.js -->
    <script src="/static/app.js" async></script>

{% if jamla['integrations']['google_tag_manager']['container_id'] 
   and jamla['integrations']['google_tag_manager']['active']
%}
    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',
    '{{ jamla['integrations']['google_tag_manager']['container_id'] }}');
    </script>
    <!-- End Google Tag Manager --> 
{% endif %}

</head>

<body>

<nav class="flex">
  <a href="/">{{ jamla['company']['name'] }}</a>
  <a href="/" class="active margin-left-auto">Home</a>
  <a href="/choose">Pricing</a>
  <a href="{{ url_for('auth.login') }}">Login</a>
</nav>

    {% block body %}{% endblock %}

</body>

</html>
