{% extends "layout.html" %}
{% block title %} {{ jamla['company']['name'] }} Store {% endblock %}

{% block top %}
      <div class="section kcBlue" style="position:relative">                       
        <div class="container">                                                        
          <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
            <div class="column">                                                       
              <h3 class="title is-3 has-text-white">We're ready, are you?</h3>         
              <p class="subtitle is-4 has-text-white">Activate your subscription website now and begin taking orders!</p>
              <small style="color:#fff">Once activated, you can edit your site, and start receiving orders right away!
              What are you waiting for?</small>                                        
            </div>                                                                     
            <div class="column is-one-third">                                          
                <a href="/activate/{{ sitename }}" class="button is-fullwidth is-light is-large">Activate Site Now</a>
            </div>                                                                     
          </div>                                                                       
        </div>                                                                         
      </div>

      <div class="section kcDarkBlue" style="position:relative">                       
      </div>
{% endblock top %}

{% block hero %}
	<style>
    #preview-text {
		position: absolute;
		font-size: 20vh;
		color: lightgray;
		transform: rotate(300deg);
		width: 100vh;
		height: 50vh;
		top: 50%;
		left: 50%;
		margin-left: -50vh; /* margin is -0.5 * dimension */
		margin-top: -25vh;
		opacity: 0.55;
	}
    body {
        overflow: hidden;
    }
	</style>
	<div>
      <div id="preview-text">
		Preview <br />
		Preview <br />
		Preview <br />
	  </div>
    </div>

  <div class="columns">
    <div class="column has-text-centered-touch">
      <h1 class="title is-1 has-text-white is-size-1-mobile">{{ jamla['company']['name'] }} Store </h1>
      <h2 class="subtitle has-text-white is-3 is-size-3-mobile">Choose your package</h2>
    </div>
    <div class="column is-one-third">
      <img src="/static/{{ jamla['company']['start_image'] }}" style="max-width: 500px; width:75%; padding-bottom:25px" />
    </div>
  </div>

{% endblock %}

{% block body %}

<div class="section">
  <div class="container">
      <h3 class="title is-4 has-text-centered is-size-4-mobile">Choose from {{ jamla['items']|length }} subscriptions</h2>
      <div id="pricing-table-vertical">
        <div class="pricing-table" style="max-width:1000px; margin:auto;">
          {% for item in jamla['items'] %}
            <div class="pricing-plan">
                <div class="plan-header" style="color:{{ item['primary_colour'] }}"><img src="{{ item['primary_icon']['src'] }}" style="width:50%;display:block; margin:auto"/>{{ item['title']|safe }}</div>
                <div class="plan-items">
                {% for sellingPoint in item['selling_points'] %}
                    <div class="plan-item">{{ sellingPoint|safe }}</div>
                {% endfor %}
                </div>
              <div class="plan-footer">
                  <div class="plan-price" style="padding-bottom:0;">
                      <span style="color:{{ item['primary_colour'] }}" class="plan-price-amount">
                          <span class="plan-price-currency">&pound;</span>{{ "%.2f"|format(item['monthly_price']/100) }}</span>/month
                  </div>
                  <small style="margin-bottom:1rem;">Upfront cost: &pound;{{ "%.2f"|format(item['sell_price']/100) }}</small>
                  <span style="background-color:{{ item['primary_colour'] }}" class="button is-fullwidth is-info">Buy Now</span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
  </div>
</div>

<div class="section kcDarkBlue" style="position:relative">                       
  <div class="container">                                                        
    <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
      <div class="column">                                                       
        <h3 class="title is-3 has-text-white">We're ready, are you?</h3>             
        <p class="subtitle is-4 has-text-white">Activate your subscription website now and begin taking orders!</p>
        <small style="color:#fff">Once activated, you can edit your site, and start receiving orders right away!
        What are you waiting for?</small>
      </div>                                                                     
      <div class="column is-one-third">                                          
          <a href="/activate/{{ sitename }}" class="button is-fullwidth is-light is-large">Activate Site Now</a>
      </div>                                                                     
    </div>                                                                       
  </div>                                                                         
</div>

  <script>
    $('.pricing-plan').hover(
         function(){ $(this).addClass('is-active') },
         function(){ $(this).removeClass('is-active') }
  )
  </script>

  <script>
    function showHorizontal() {
      document.getElementById('pricing-table-horizontal').style.display = "block";
      document.getElementById('pricing-table-vertical').style.display = "none";
      console.log('Button Clicked!');
    }
    function showVertical() {
      document.getElementById('pricing-table-vertical').style.display = "block";
      document.getElementById('pricing-table-horizontal').style.display = "none";
      console.log('Button Clicked!');
    }
  </script>

  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

{% endblock %}
